
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

html, body {
  height: 100vh;
  margin: 5px;
  overflow: hidden;
  }
            
.card_box {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
#container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  }
  
#sidebar {
  width: 600px;
  min-width: 400px;
  max-width: 100%;
  background-color: white;
  height: 100vh;
  padding: 10px;
  resize: horizontal;
  overflow: auto;
  display: flex;
  flex-direction: column;
  }
                  
#drag-handle {
  width: 10px;
  cursor: ew-resize;
  background: #ddd;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
                  
#drag-handle i {
  font-size: 15px;
  color: black;
}                  
                  
#main {
  flex: 1;
  padding: 2px;
  height: 100vh;
  overflow: hidden;
}  

.noUi-handle {
  width: 18px !important; 
  height: 18px !important;
  font-family: 'Segoe UI', sans-serif ;
  box-shadow: none !important; 
}


#listing_box {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#listing_box.fade-in {
  opacity: 1;
}    

#listing_date {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#listing_date.fade-in {
  opacity: 1;
}

#listing_amenities {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#listing_amenities.fade-in {
  opacity: 1;
} 

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    width: 50%;
    border: 1px solid transparent;
}